@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #333333;
}

/* селекторы для повторяющихся стилей */

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.button-main {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  text-transform: uppercase;
}

/* header  */

.page-header {
  color: #000000;
}

/* navigation  */

.navigation-list {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-list a {
  color: inherit;
  text-decoration: none;
}

.user-navigation-search-button {
  width: 20px;
  height: 20px;
  background: url("../images/icons/search-icon.svg") no-repeat;
}

.user-navigation-favorites-button {
  width: 20px;
  height: 20px;
  background: url("../images/icons/favorites-icon.svg") no-repeat;
}

.user-navigation-favorites-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50px;
}

.user-navigation-deal-button {
  font-size: 16px;
  line-height: 20px;
}

/* main index  */

/* hero  */

.hero {
  color: #ffffff;
  background-color: #3f5e72;
  background: url("../images/hero-bg.jpg") no-repeat;
  background-size: 100% auto;
}

/* advantages  */

.advantages-title {
  color: #000000;
}

.advantages-text {
  color: #333333;
}

.advantages-list {
 padding: 0;
 margin: 0;
 list-style: none;
}

.advantages-list-item {
  color: #333333;
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-list-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list-item-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-item:nth-child(odd):not(.advantages-list-item-special) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-item-special {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list-item-special-title {
  color: #ffffff;
}

/* hotel search */

.hotel-search-title {
  color: #000000;
}

/* page-footer  */

/* subscribe */

.subscribe {
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../images/subscribe-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-button {
  background-color: #82b3d3;
}

/* footer-contacts */

.social-link--vk {
  background: url("../images/icons/social-vk-icon.svg") no-repeat;
}

.social-link--tg {
  background: url("../images/icons/social-tg-icon.svg") no-repeat;
}

.social-link--youtube {
  background: url("../images/icons/social-youtube-icon.svg") no-repeat;
}

.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}
